In [24]:
from model import Author,Book
import pandas as pd
import numpy as np

# Create Author objects
author1 = Author(
    birth_date="1980-05-15",
    author_id="A001",
    author_name="Alice Smith"
)

author2 = Author(
    birth_date="1975-09-22",
    author_id="A002",
    author_name="Bob Johnson"
)

author3 = Author(
    birth_date="1990-11-05",
    author_id="A003",
    author_name="Charlie Brown"
)

# Create Book objects
book1 = Book(
    publication_date="2024-01-15",
    book_id="B001",
    title="The Python Adventure",
    isbn="978-1-23456-789-1",
    price=24.99,
    author=author1
)

book2 = Book(
    publication_date="2024-02-20",
    book_id="B002",
    title="Data Science with Python",
    isbn="978-1-23456-789-2",
    price=29.99,
    author=author2
)

book3 = Book(
    publication_date="2024-03-10",
    book_id="B003",
    title="Machine Learning Basics",
    isbn="978-1-23456-789-3",
    price=34.99,
    author=author3
)
book4 = Book(
    publication_date="2024-03-10",
    book_id="B003",
    title="Python Basics",
    isbn="978-1-23456-546-3",
    price=30.00,
    author=author3
)
bookList = [book1,book2,book3,book4]

# print(author1)
# print(author2)
# print(author3)
# print(book1)
# print(book2)
# print(book3)

# print(bookList)
print(type(bookList))

bookList_dict ={
    "publication_date":[],
    "title":[],
    "author_name":[],
    "discount_price":[]
}

# BookList contains book objects
# Populate book object list into dictionary
for current_book in bookList:
    bookList_dict["publication_date"].append(current_book.publication_date)
    bookList_dict["title"].append(current_book.title)
    bookList_dict["author_name"].append(current_book.author.name)
    bookList_dict["discount_price"].append(current_book.getDiscountedPrice(1.5))

"""
wrong implementation
   bookList_dict.append(current_obj.publication_date)
    bookList_dict.append(current_obj.title)
    bookList_dict.append(current_obj.getDiscountedPrice)
"""
 

bookList_dict

<class 'list'>

{'publication_date': ['2024-01-15', '2024-02-20', '2024-03-10', '2024-03-10'],
 'title': ['The Python Adventure',
  'Data Science with Python',
  'Machine Learning Basics',
  'Python Basics'],
 'author_name': ['Alice Smith',
  'Bob Johnson',
  'Charlie Brown',
  'Charlie Brown'],
 'discount_price': [-12.495, -14.995, -17.495, -15.0]}

### <span style="color: red;">Converting dictionary into pandas data frame</span>

##

In [25]:
bookList_dict_df = pd.DataFrame(bookList_dict)

In [26]:
bookList_dict_df

  publication_date                     title    author_name  discount_price
0       2024-01-15      The Python Adventure    Alice Smith         -12.495
1       2024-02-20  Data Science with Python    Bob Johnson         -14.995
2       2024-03-10   Machine Learning Basics  Charlie Brown         -17.495
3       2024-03-10             Python Basics  Charlie Brown         -15.000

### <span style="color: red;">Select the first row</span>

In [27]:
first_row = bookList_dict_df.iloc[0]
first_row

publication_date              2024-01-15
title               The Python Adventure
author_name                  Alice Smith
discount_price                   -12.495
Name: 0, dtype: object

### <span style="color: red;">Select the first column</span>

In [28]:
bookList_dict_df["author_name"]

0      Alice Smith
1      Bob Johnson
2    Charlie Brown
3    Charlie Brown
Name: author_name, dtype: object

### <span style="color: red;">Conditional Selection:</span>

In [29]:
## Select rows where column 'author_name' is "Alice Smith"
bookList_dict_df[bookList_dict_df["author_name"] == "Alice Smith"]

  publication_date                 title  author_name  discount_price
0       2024-01-15  The Python Adventure  Alice Smith         -12.495

### <span style="color: red;">Using set</span>
### Characteristics of Using `set()` for Unique Values

- **Conversion to Set:** Converts the column data into a Python set, which inherently removes duplicates.
- **Output:** Returns a Python `set` object containing the unique values.
- **Order:** Does not preserve the order of the elements as sets are unordered collections.
- **DataFrame Integration:** If you need the result in a DataFrame format, you’ll need to convert the set back into a DataFrame.

In [30]:
distinct_authors1 = set(bookList_dict_df["author_name"])
print(distinct_authors1,type(distinct_authors1))

{'Charlie Brown', 'Alice Smith', 'Bob Johnson'} <class 'set'>

### <span style="color: red;">Convert Set to DataFrame with Single Column</span>

In [31]:

# Convert set to list
unique_values_list = list(distinct_authors1)

# Convert list to DataFrame
df = pd.DataFrame(unique_values_list, columns=['author_name'])

print(df)

     author_name
0  Charlie Brown
1    Alice Smith
2    Bob Johnson

### <span style="color: red;">Using unique()</span>
### Characteristics of Using `unique()` for Unique Values

- **Pandas Method:** `unique()` is a pandas method specifically designed for extracting unique values from a Series.
- **Output:** Returns a NumPy array containing the unique values.
- **Order:** Preserves the order of the first occurrences of unique values.
- **DataFrame Integration:** Directly returns an array, which can be easily converted to a DataFrame if needed.

In [32]:
distinct_authors2 = bookList_dict_df["author_name"].unique()
print(distinct_authors2,type(distinct_authors2))

['Alice Smith' 'Bob Johnson' 'Charlie Brown'] <class 'numpy.ndarray'>

In [33]:
array_1d = np.array(['Alice Smith', 'Bob Johnson', 'Charlie Brown'])
df = pd.DataFrame(array_1d, columns=['author_name'])
print(df)

     author_name
0    Alice Smith
1    Bob Johnson
2  Charlie Brown